body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/* <!-- header-section-start --> */
nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(45, 45, 134);
    padding-left: 4%;
    padding-top: 20px; 
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 1em;
    margin-right: 20px;
}
.login-button{
    background-image: linear-gradient(rgb(163, 41, 41), red );
    padding: 8px 20px;
}
/* <!-- header-section-end --> */

/* <!-- section-one-start --> */
.section-one{
    display: flex;
    background-color: rgb(45, 45, 134);
}
h1{
    font-size: 40px;
}
.button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(rgb(163, 41, 41), red );
    padding: 10px 30px;
    font-weight: 700;
    border-radius: 5px;
    margin-top: 20px;
}
.button:hover{
    color: orange;
    font-size: 18px;
}
.one-sec{
    color: white;
    padding-top: 50px;
    padding-left: 4%; 
    width: 50%
}
.one-sec img{
    padding-top: 60px;
    width: 80%;
}
/* <!-- section-one-end--> */

/* <!-- player ditail section start  --> */
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 10%;
    margin-right: 10%;
}
.all-players{
    margin-top: 22px;
}
.player img{
    padding-left: 13px;
    padding-top: 15px;
    width: 250px;
}
.player{
    width: 80%;
    box-shadow: 10px 10px 40px grey;
    margin-top: 5%;
    margin-left: 12%;
    margin-right: 12%;
    padding-left: 12px;
    padding-bottom: 5px;
    padding-top: 5px;
}
.player p{
    color: rgb(165, 156, 156);
}
/* <!-- player ditail section end  --> */

/* section player next start */
.section-player-next{
    display: flex;
    margin-top: 60px;
    margin-left: 10%;
    width: 86%;
}
h1{
    font-size: 40px;
}
.button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(rgb(163, 41, 41), red );
    padding: 10px 30px;
    font-weight: 700;
    border-radius: 5px;
    margin-top: 20px;
}
.button:hover{
    color: orange;
    font-size: 18px;
}
.next-sec{
    color: black;
    padding-top: 50px;
    padding-left: 4%; 
    width: 50%
}
.top-other{
    margin-top: 25px;
}
.next-sec img{
    padding-top: 40px;
    width: 80%;
}
/* section player next end */

/* extrs section-no one staer  */
.live-section{
    margin-top: 100px;
}
.live-match{
    box-shadow: none;
}
.point-bord{
    text-align: center;
    box-shadow: 5px 10px 40px #dedbdb;
    padding: 3%;
    width: 40%;
    margin: 0 auto;
    border-radius: 28px;
    padding-left: 300px;
    display: flex;
    margin-bottom: 150px;
}
.width{
    width: 25%;
    box-shadow: 10px 10px 50px #dedbdb;
    padding: 4%;
    margin: 90px 10px;
    border-radius: 30px;
}
.live-heading{
    text-align: center;
    font-size: 20px;
}
.live-match h2, p{
    text-align: center;
}
/* extrs section-no one end  */

/* extrs section-no two start  */
.top-three-players-section{
    margin-top: 22px;
}
.top-three-players-section h2{
    text-align: center;
    font-weight: 40px;
}
.top-three-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 10%;
    margin-right: 10%;
}
.top-one img{
    padding-left: 13px;
    padding-top: 15px;
    width: 250px;
}
.top-one{
    width: 80%;
    box-shadow: 10px 10px 40px grey;
    margin-top: 5%;
    margin-left: 12%;
    margin-right: 12%;
    padding-left: 12px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 5px;
}
.top-one .top-one-special p{
    color: rgb(165, 156, 156);
}
.top-one-special{
    width: 80%;
    box-shadow: 10px 10px 40px grey;
    margin-top: 5%;
    margin-left: 12%;
    margin-right: 12%;
    padding-left: 12px;
    padding-bottom: 5px;
}
.top-one-special img{
    padding-left: 13px;
    padding-top: 15px;
    width: 250px;
}
/* extrs section-no two end  */

/* <!-- sectopn-last footer start --> */
.footer-top-logo img{
    margin-top: 80px;
    margin-left: 435px;
    height: 200px;
    width: 400px;
}
.footer-sociel-icon{
    font-size: 20px;
    text-align: center;
}
.copyright-text{
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
}
/* <!-- sectopn-last footer end --> */